@import '~antd/dist/antd.css';
.App {
  font-family: 'Helvetica Neue','Microsoft YaHei';
  letter-spacing: .5px;
  font-size: 18px;
  background: #f7f7f7;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.logo {
  width: 120px;
  height: 35px;
  margin: 16px 28px 16px 0;
  float: left;
  background: url('https://res-static.gaosiedu.com/www/static/img/logo.a749978.png') center center no-repeat;
  background-size: 100%  100%;
}

.avatar {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.App-link {
  color: #09d3ac;
}
